.PCRSgallary{
    text-align: center;
}

.PCRSgallary img{
    transition: 1s;
    padding: 20px;
    height: 420px;
    border-radius: 25px;
}

.PCRSgallary img:hover {
    transform: scale(1.04);

}

.pagetitle3{
    text-align: center;
    color: black;
    font-size: 80px;
    font-family: "mydream";
}

@font-face {
    font-family: "southmore";
    src: url("southmore/Southmore.tff");
}

@font-face {
    font-family: "mydream";
    src: url("my_dream_2/My\ Dream.otf");
}